<!DOCTYPE html>
<html>
  <head>
    <title>Chitter - Your Profile</title>
    <meta charset="utf-8">
    <link href="../styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/">Log Out</a></li>
      </nav>
    </header>
    <h1>Welcome to Chitter!</h1>
    <h2>Hey {{username}}! Here you can update your profile information</h2>
    <br>
    <p>(dev notes) I'm going to revisit this page at a later time. I'd like to add in more user information that can be added/updated right from the page.</p>
    <br>
    <p>(more dev notes) Also, I think it would be neat to make the usernames links to that user's profile page. Only the person logged in would be able to add/update/delete information.</p>

  </body>
</html>
