<!DOCTYPE html>
<html>
  <head>
    <title>Chitter - Your Profile</title>
    <meta charset="utf-8">
    <link href="../styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>
      </nav>
    </header>
    <h1>Welcome to Chitter!</h1>
    <h2>Here you can update your profile information</h2>

  </body>
</html>
